.default {
  --light-background-color:white;
  --dark-background-color:rgb(21, 26, 41);

  --primary-color:rgb(173, 176, 187);
  --secondary-color:rgb(120, 123, 134);
  --download-link-background: rgb(159, 90, 216);
  --link: rgb(153, 124, 231);
  /* --link: rgb(180, 124, 231); */
  /* --link-visited: rgb(165, 113, 212); */
  --link-visited: rgb(170, 138, 77);
  /* --link-visited: rgb(172, 137, 72); */
  --contrast: rgb(216, 220, 230);
  --high-contrast: rgb(239, 243, 255);
  --very-high-contrast: white;

  --primary-color-dark: rgb(20, 19, 19);
  --contrast-dark: rgb(40, 41, 44);
  --high-contrast-dark: black;
  --link-dark: rgb(28, 35, 102);
  --code-background-dark: rgb(17, 21, 37);
  /* --code-background-dark: rgb(30, 34, 66); */

  --dashboard-button-color: #ff8e2b;
  --posts-button-color: #387eb6;
  --wip-button-color: #38ac54;
  --notes-color: #dcdfda;
  --devlog-color: #db8ae6;
  --release-color: #ff5254;
}

.pitch-black {
  --light-background-color:black;
  --dark-background-color:rgb(5, 5, 5);

  --primary-color:rgb(236, 236, 236);
  --secondary-color:rgb(147, 151, 163);
  --download-link-background: rgb(159, 90, 216);
  --link: rgb(153, 124, 231);
  --link-visited: rgb(170, 138, 77);
  --contrast: white;
  --high-contrast: white;
  --very-high-contrast: white;

  --primary-color-dark: rgb(20, 19, 19);
  --contrast-dark: rgb(93, 96, 104);
  --high-contrast-dark: black;
  --link-dark: rgb(28, 35, 102);
  --code-background-dark: rgb(0, 0, 0);

  --dashboard-button-color: #e46a00;
  --posts-button-color: #007be0;
  --wip-button-color: #00b32a;
  --notes-color: #dcdfda ;
  --devlog-color: rgb(141, 71, 255);
  --release-color: rgb(255, 16, 76);
}

.e-ink{
  --light-background-color:white;
  --dark-background-color:white;

  --primary-color:black;
  --secondary-color:rgb(41, 42, 46);
  --download-link-background: rgb(159, 90, 216);
  --link: black;
  --link-visited: rgb(114, 91, 52);
  --contrast: rgb(40, 41, 44);
  --high-contrast: rgb(29, 29, 29);
  --very-high-contrast: rgb(0, 0, 0);

  --primary-color-dark: white;
  --contrast-dark: rgb(216, 220, 230);
  --high-contrast-dark: rgb(239, 243, 255);
  --link-dark: rgb(28, 35, 102);
  --code-background-dark: rgb(247, 247, 247);

  --dashboard-button-color: #ff7700;
  --posts-button-color: #42aaff;
  --wip-button-color: hsl(134, 100%, 46%);
  --notes-color: rgb(0, 0, 0);
  --devlog-color: rgb(100, 100, 100);
  --release-color: rgb(184, 184, 184);

  text-shadow: 0px 0px 0.5px black, 0px 0px 0.5px black;
}

.e-ink code {
  font-family: 'Iosevka SS07 Web';
}

.e-ink a {
  text-decoration: underline;
  text-underline-offset: initial;
}
.e-ink a:hover {
  color: inherit !important;
}
.e-ink a:active {
  color: inherit !important;
}

.e-ink .toolbar {
  background: black;
  backdrop-filter: blur(1px);
  padding-top:16px;
}
.e-ink .toolbar * {
  text-shadow: none;
  filter: none;
  color: white !important;
}